<main>
  <section class="main">
    <h2 class="heading">
      Share your adventures with your friends
    </h2>
    <div class="container2">
    <div class="col-1">
      <h3 class="heading-second">
        Let your friends know where you went!
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fuga harum ullam nulla, consequuntur amet sed quis, facilis natus pariatur atque vel voluptate molestias possimus doloribus sint perferendis? Consectetur, ipsam?
      </p>
      <h3 class="heading-second">
        Live adventure you never done before!
      </h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fuga harum ullam nulla, consequuntur amet sed quis, facilis natus pariatur atque vel voluptate molestias possimus doloribus sint perferendis? Consectetur, ipsam?
      </p>
      <div class="links">
        <a routerLink="/register" class="link">Register &rarr;</a>
        <a routerLink="/login" class="link">Login &rarr;</a>
      </div>
    </div>
    <div class="col-2">
      <div class="composition">
        <img src="../../../assets/nat-1-large.jpg" class="photo1" alt="">
        <img src="../../../assets/nat-2-large.jpg" class="photo2" alt="">
        <img src="../../../assets/nat-3-large.jpg" class="photo3" alt="">
      </div>
    </div>
  </div>
  </section>
</main>
