<div class="main">
  <div class="search-section">
    Search
  </div>
  <div class="helper">
  <div class="profile-section">
    <div class="menu">
    <div class="photo">
      <img src="../../../assets/user-1.jpg" class="poza">
    </div>
      <div class="menu-links">
        <a routerLink="" class="link1">Profile</a>
      </div>
      <div class="menu-links" >
         <a routerLink="" class="link1">Settings</a>
      </div>
      <div class="menu-links">
        <a routerLink="/home" class="link1">Logout</a>
      </div>
    </div>
    <div class="copyright">
      <h4 class="copy">
        COPYRIGHT RESERVED
      </h4>
    </div>
  </div>
  <div class="post-section">
    Posts
  </div>
  <div class="friend-section">
    Friends
  </div>
</div>
</div>
