<div class="main-container">
  <div class="left-section">
    <a routerLink="/home" class="link">&larr; Back</a>
    <h3 class="title">Take your friends with you!</h3>
    <img src="../../../assets/nat-8.jpg" alt="" class="photo ph">
    <img src="../../../assets/nat-5.jpg" alt="" class="photo ph">
    <img src="../../../assets/nat-6.jpg" alt="" class="photo ph">
    <img src="../../../assets/nat-9.jpg" alt="" class="photo ph">
  </div>
  <div class="right-section">
    <h2 class="heading-form">Register form</h2>
    <div class="container">
      <form [formGroup] = "signUpForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="Email">Email:</label>
          <input type="text" formControlName="Email" class="form-control" id="Email" name="Email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password"  formControlName="Password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
          <label for="usr">First Name:</label>
          <input type="text" class="form-control"  formControlName="firstName" id="firstName" name="firstName">
        </div>
        <div class="form-group">
          <label for="usr">Last Name:</label>
          <input type="text" class="form-control"  formControlName="lastName" id="lastName" name="lastName">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
